<md-content flex-offset="10" flex="100">
  <div layout="row">
    <div class="col-sm-2"></div>
  <div class="BookedRooms">
    <div ng-controller="RoomCtrl" ng-cloak>

      <md-list>
        <md-subheader class="md-no-sticky">Oversigt over udlejede værelser</md-subheader>
        <md-list-item ng-click="goToBooking(room)" ng-repeat="room in Rooms">
          <div>Værelse Nr: {{room.RoomNumber}} </div>
          </md-button>
    </div>
  </div>

<div class="col-sm-2"></div>
  <div class="FreeRooms" >
    <div ng-controller="RoomCtrl" ng-cloak >
      <md-list >
        <md-subheader class="md-no-sticky">Oversigt over frie værelser</md-subheader>
        <md-list-item ng-click="goToBooking(room)" ng-repeat="room in Rooms">
          <div>Værelse Nr: {{room.RoomNumber}} </div>
          </md-button>
    </div>
  </div>
  </div>
</md-content>
