<md-content flex-offset="5" flex="90">

  <div flex-sm="100" flex-xs="100" layout="row">
    <div flex="5">
      <md-button class="md-fab md-mini md-primary" aria-label="Go Back" ng-click="goBack()">
        <i class="fa fa-arrow-left"></i>
      </md-button>
    </div>


    <md-list-item class="md-3-line">
      <div flex-sm="100" flex-xs="100" class="md-list-item-text" layout="column">
        <h2>Værelse nr: {{room.roomNumber}} </h2>

        <div layout="column">
          <div>
            <md-switch ng-model="room.rented" aria-label="Switch 2" ng-change="room.Rented" class="md-primary"> {{room.Rented ? "Udlejet" : "Ledig"}}
            </md-switch>
          </div>

          <md-checkbox ng-model="room.bathRoom" aria-label="Checkbox 1">
            <h4> <i class="fa fa-tint" aria-hidden="true"></i>  Bad på værelset</h4>
          </md-checkbox>
          <h4> <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Værelses pris: {{room.roomPrice}}</h4>
        </div>


        <label>
          <br />Booking Detaljer</label>

        <!-- Hvis der er en booking, så vises oplysningerne, om booking details -->
        <div ng-if="room.bookings.length > 0" layout="column" ng-repeat="booking in room.bookings">
          <md-checkbox ng-model="booking.double" aria-label="Checkbox 1">
            <h4> <i class="fa fa-bed" ></i> Dobbelt værelse</h4>
          </md-checkbox>
          <md-checkbox ng-model="booking.extraBed" aria-label="Checkbox 1">
            <h4><i class="fa fa-bed" aria-hidden="true"></i> Opredning</h4>
          </md-checkbox>
          <md-checkbox ng-model="booking.animal " aria-label="Checkbox 1">
            <h4><i class="fa fa-paw" aria-hidden="true"></i> Dyr</h4>
          </md-checkbox>
          <h5></h5>
          <div>
            <md-datepicker ng-model="booking.ArrivalDate" md-placeholder="Ankomst dato"></md-datepicker>
            <md-datepicker ng-model="booking.DepatureDate" md-placeholder="Afrejse dato"></md-datepicker>
          </div>

          <label>
            <br />Kunde Detaljer</label>

          <div layout="column">
            <md-input-container>
              <label> <i class="fa fa-user" aria-hidden="true"></i> Kundens navn</label>
              <input ng-model="booking.customer.customerName" type="text">
            </md-input-container>
            <md-input-container>
              <label> <i class="fa fa-phone" aria-hidden="true"></i> Kundens telefon nr. </label>
              <input ng-model="booking.customer.customerPhoneNumber" type="text">
            </md-input-container>
            <md-checkbox ng-model="booking.customer.keybox" aria-label="Checkbox 1">
              <h4> <i class="fa fa-key" aria-hidden="true"></i>  Nøgle i nøglebox </h4>
            </md-checkbox>
            <md-input-container>
              <label><i class="fa fa-sticky-note" aria-hidden="true"></i> Evt. noter</label>
              <textarea ng-model="booking.customer.notes"></textarea>
            </md-input-container>
            <md-input-container>
              <label><i class="fa fa-envelope" aria-hidden="true"></i> Kundens Email</label>
              <input ng-model="booking.customer.customerEmail" type="text">
            </md-input-container>
          </div>

          <label>
            <br />Firma oplysninger</label>

          <div layout="column">
            <md-input-container>
              <label><i class="fa fa-building" aria-hidden="true"></i> Firma navn</label>
              <input ng-model="booking.customer.company.companyName" type="text">
            </md-input-container>
            <md-input-container>
              <label> <i class="fa fa-phone" aria-hidden="true"></i> Firma telefon</label>
              <input ng-model="booking.customer.company.companyPhoneNumber " type="text">
            </md-input-container>
            <md-input-container>
              <label> <i class="fa fa-envelope" aria-hidden="true"></i> Firma Email</label>
              <input ng-model="booking.customer.company.companyEmail" type="text">
            </md-input-container>

          </div>

          <md-button ng-click="updateBooking(booking, $event)" class="md-raised md-primary">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Gem ændringer
          </md-button>
          <md-button class="md-raised md-warn" ng-click="deleteBooking(booking, $event)">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Slet Booking
          </md-button>
        </div>

        <!--Empty bookings  -->
        <!-- Hvis der ikke er nogen booking, vises checkboxes og det hele, og der bliver brugt scope til at oprette en ny, hvis der bliver gemt noget -->
        <div ng-if="!room.bookings  || room.bookings.length < 1" layout="column">
          <md-checkbox ng-model="booking.double" aria-label="Checkbox 1">
            <h4> <i class="fa fa-bed" ></i> Dobbelt værelse</h4>
          </md-checkbox>
          <md-checkbox ng-model="booking.extraBed" aria-label="Checkbox 1">
            <h4><i class="fa fa-bed" aria-hidden="true"></i> Opredning</h4>
          </md-checkbox>
          <md-checkbox ng-model="booking.animal " aria-label="Checkbox 1">
            <h4><i class="fa fa-paw" aria-hidden="true"></i> Dyr</h4>
          </md-checkbox>
          <h5></h5>
          <div>
            <md-datepicker ng-model="booking.arrivalDate" md-placeholder="Ankomst dato"></md-datepicker>
            <md-datepicker ng-model="booking.depatureDate" md-placeholder="Afrejse dato"></md-datepicker>
          </div>

          <label>
            <br />Kunde Detaljer</label>

          <div layout="column">
            <md-input-container>
              <label> <i class="fa fa-user" aria-hidden="true"></i> Kundens navn</label>
              <input ng-model="booking.customer.customerName" type="text">
            </md-input-container>
            <md-input-container>
              <label> <i class="fa fa-phone" aria-hidden="true"></i> Kundens telefon nr. </label>
              <input ng-model="booking.customer.customerPhoneNumber" type="text">
            </md-input-container>
            <md-checkbox ng-model="booking.customer.keybox" aria-label="Checkbox 1">
              <h4> <i class="fa fa-key" aria-hidden="true"></i>  Nøgle i nøglebox </h4>
            </md-checkbox>
            <md-input-container>
              <label><i class="fa fa-sticky-note" aria-hidden="true"></i> Evt. noter</label>
              <textarea ng-model="booking.customer.notes"></textarea>
            </md-input-container>
            <md-input-container>
              <label><i class="fa fa-envelope" aria-hidden="true"></i> Kundens Email</label>
              <input ng-model="booking.customer.customerEmail" type="text">
            </md-input-container>
          </div>



          <label>
            <br />Firma oplysninger</label>

          <div layout="column">
            <md-input-container>
              <label><i class="fa fa-building" aria-hidden="true"></i> Firma navn</label>
              <input ng-model="booking.customer.company.companyName" type="text">
            </md-input-container>
            <md-input-container>
              <label> <i class="fa fa-phone" aria-hidden="true"></i> Firma telefon</label>
              <input ng-model="booking.customer.company.companyPhoneNumber " type="text">
            </md-input-container>
            <md-input-container>
              <label> <i class="fa fa-envelope" aria-hidden="true"></i> Firma Email</label>
              <input ng-model="booking.customer.company.companyEmail" type="text">
            </md-input-container>

          </div>
          <md-button ng-click="updateBooking()" class="md-raised md-primary">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Opret Booking
          </md-button>
        </div>
    </md-list-item>
    </div>
  </div>

</md-content>
